#header a { color: #333; }

dt .muted { font-weight: normal; }

.hide { display: none; }

.figure {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;

  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.figure .caption {
  text-align: center;
  font-style: italic;
}

.sourceCode {
  clear: right;
}

.post-current { text-align: center; }
.post-previous { text-align: left; }
.post-next { text-align: right; }
