<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{{ page.title }}</title>
    <meta name="author" content="Tom Switzer" />
    {% if page.keywords %}
      <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/hk-kate.css" />

    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
