---
layout: default
---
<article class="span12">
  <header class="hide">
    <h2>{{ page.title }}<h2>
  </header>
  <section>
    <p class="lead">{{ page.description }}</p>
  </section>
  <section>
    {{ content }}
  </section>
  <section class="comments">
    <noscript>Enable JS to see comments, or <a href="http://tixxit.disqus.com/?url=ref">view them on Disqus.</a></noscript>
    <div id="disqus_thread"></div>
  </section>
</article>
<script async src="http://tixxit.disqus.com/embed.js"></script>
