---
layout: default
---
<article class="span12">
  <header class="hide">
    <h2>{{ page.title }}<h2>
  </header>
  <section>
    <p class="lead">{{ page.description }}</p>
  </section>
  <section>
    {{ content }}
  </section>
  <hr>
  <section class="row linked-posts">
    <div class="span4 post-previous">
      {% if page.previous %}
      <p><i class="icon-arrow-left"></i> <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
      {% endif %}
    </div>
    <div class="span4 post-current">
      <p><a href="{{ page.url }}">{{ page.title }}</a></p>
    </div>
    <div class="span4 post-next">
      {% if page.next %}
      <p><a href="{{ page.next.url }}">{{ page.next.title }}</a> <i class="icon-arrow-right"></i></p>
      {% endif %}
    </div>
  </section>
  <hr>
  <section class="comments">
    <noscript>Enable JS to see comments, or <a href="http://tixxit.disqus.com/?url=ref">view them on Disqus.</a></noscript>
    <div id="disqus_thread"></div>
  </section>
</article>
<script async src="http://tixxit.disqus.com/embed.js"></script>
